*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 1140px;
  height: 534px;
  margin: auto;
  display: flex;
  column-gap: 30px;
  align-items: end;
}


.result {
  width: 711px;
  display: flex;
  flex-direction: column;
  column-gap: 16px;
}

.result__video-container {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  height: 386px;
}

.result__video {
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
}
.search-form__label {
}
.search-form__label-text {
}
.visually-hidden {
}
.search-form__textfield {
}
.search-form__checkbox-list {
}
.search-form__checkbox {
}
.search-form__pseudo-checkbox {
}
.button {
  width: 194px;
}
.search-form__submit-button {
}
.content__details {
  width: 399px;
  height: 534px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}
.content__accent {
}
.content__list {
  overflow-y: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  
}

/* Стилизация скроллбара для Chrome, Edge, Safari, Opera */
.content__list::-webkit-scrollbar {
  width: 6px; /* Делаем скролл тонким */
}

.content__list::-webkit-scrollbar-track {
  background: #1b1919; /* Чёрный фон дорожки */
}

.content__list::-webkit-scrollbar-thumb {
  background: #333; /* Тёмно-серый цвет ползунка */
  border-radius: 4px; /* Округляем углы */
}

.content__list::-webkit-scrollbar-thumb:hover {
  background: #555; /* Светлее при наведении */
}

/* Стилизация скроллбара для Firefox */
.content__list {
  scrollbar-width: thin; /* Делаем скролл тоньше */
  scrollbar-color: #333 #1b1919; /* Ползунок | Фон дорожки */
}

/* Добавляем отступ для скролла, если браузер не поддерживает кастомизацию */
.content__list {
  scrollbar-gutter: stable; /* Оставляет место для скролла */
}

.cards-list-item-template {
}
.content__list-item {
}
.content__card-link {
}
.content__video-card {
}
.content__video-card-description-container {
}
.content__video-card-title {
}
.content__video-card-description {
}
.content__video-card-thumbnail {
  width: 194px;
  height: 100%;
}
.more-button-template {
}
.more-button {
}

