*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 1160px;
  height: 534px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.result {
  width: 711px;
  display: flex;
  flex-direction: column;
  column-gap: 16px;
}

.result__video-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
}

.search-form__fieldset-title + .search-form__label {
  border-top: 1px solid#fff;
  border-bottom: 1px solid #fff;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  width: 225px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: inherit; 
  color: inherit;
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  border: 1px solid #fff;
}


.search-form__checkbox-list {
  width: fit-content;
  display: flex;
  column-gap: 15px;
}

.search-form__checkbox {

}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  padding: 6px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #545050;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  border: 2px solid #fff;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.content__details {
  width: 430px;
  height: 534px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow-y: auto;
  max-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 34px;
  /* Стилизация скроллбара для Firefox */
  scrollbar-width: thin; /* Делаем скролл тоньше */
  /* Добавляем отступ для скролла, если браузер не поддерживает кастомизацию */
  scrollbar-color: #333 #1b1919; /* Ползунок | Фон дорожки */
  scrollbar-gutter: stable; /* Оставляет место для скролла */
}

/* Стилизация скроллбара для Chrome, Edge, Safari, Opera */

.content__list::-webkit-scrollbar {
  width: 6px; /* Делаем скролл тонким */
}

.content__list::-webkit-scrollbar-track {
  background: #1b1919; /* Чёрный фон дорожки */
}

.content__list::-webkit-scrollbar-thumb {
  background: #333; /* Тёмно-серый цвет ползунка */
  border-radius: 4px; /* Округляем углы */
}

.content__list::-webkit-scrollbar-thumb:hover {
  background: #555; /* Светлее при наведении */
}

.cards-list-item-template {
}

.content__list-item {
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  width: 50%;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 50%;
  height: 100%;
}

.more-button-template {
}

.more-button {
  width: 100%;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.preloader {
  position: absolute;
  inset: 0 0 0 0;
}


